body,main{
    display: flex;
}
body{
  flex-direction:column ;
}
main{
  flex: auto;
}
aside{
  flex: 1;
}
article{
  flex: 3;
  
}


.small{
  width: 50%;
  height: 50%;
}

a div:hover {
    color: green;
    
  }
  a{
    text-decoration :none
  }
ul li a{
  color: rgb(5, 67, 126);
}
h1{
  background:#f00;/*背景颜色红色*/

  font: green;
   color: rgb(11, 44, 94);
}
h2{
  background:rgb(26, 22, 22);
  color: rgb(146, 13, 117);
}
h3{
  background:rgb(26, 22, 22);
  color: rgb(172, 169, 30);
}
h4{
  background:rgb(26, 22, 22);
  color: rgb(44, 136, 116);
}
